<nav class="navbar navbar-dark" style="background-color: #021327;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sort Cards</a>
  </div>
</nav>


<div class="container-fluid" style="padding: 10px;">
  <header class="h3">Select cards for sorting</header>
  <div class="row g-2">
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" id="selectSuit"
          (change)="selectChangeSuit($event)" required>
          <option value="0">Select suit</option>
          <option *ngFor="let suit of suits" value="{{suit}}">{{suit}}</option>
        </select>
        <label class="form-label" for="selectSuit">Suit</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" id="selectFace"
          (change)="selectChangeFace($event)" required>
          <option value="0">Select face</option>
          <option *ngFor="let face of faces" value="{{face}}">{{face}}</option>
        </select>
        <label class="form-label" for="selectFace">Face</label>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto" style="margin: 20px;">
    <button (click)="addCard()" class="btn btn-primary"  type="button">Add Card</button>
    <button *ngIf="isAdded" (click)="sortCards();"class="btn btn-primary" type="button">Sort</button>
    <button *ngIf="isSort" (click)="reloadPage()"class="btn btn-primary" type="button">Reset</button>
  </div>
</div>
<div style="height: 450px; overflow-y:auto;" *ngIf="isAdded">
  <div class = "column">
  <table *ngIf="isAdded" class="table table-striped col-md table-bordered caption-top" style="margin: 20px;">
    <caption>Unsorted card list</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cards</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cardList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>
          {{card}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class = "column">
  <table *ngIf="isSort" class="table table-striped col-sm table-bordered caption-top" style="width:95%; margin: 20px;">
    <caption>Sorted card list</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cards</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of sortedCardList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>
          {{card}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
